@mixin phone {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

.activa {
  background: #48995d;
  padding: 10px;
  border-radius: 10px;
}
.popularesPelicula {
  padding: 50px 25px 0px 25px;
  height: auto;

  .opciones {
    display: flex;
    color: white;
    align-content: center;

    ul {
      display: flex;
      align-items: center;

      margin: 0px;
      margin-left: 20px;

      li {
        list-style: none;
        margin-right: 15px;
        a {
          cursor: pointer;
          text-decoration: none;
          color: white;

          &:hover {
            @extend .activa;
          }
        }
      }
    }

    @include phone {
      & {
        flex-direction: column;
        padding: 0;
        margin: 0px;
      }
      ul {
        padding: 0;
        margin: 0;
        margin-top: 10px;
        font-size: 14px;
        justify-content: space-between;

        li {
          margin: 0;
        }
      }
    }
  }

  hr {
    color: #48995d;
    height: 2px;
  }

  #content {
    height: auto;
    display: grid;
    
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
  }

  @include phone {
    #content {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .buttonMas {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 5px;
    font-size: 25px;
    color: #48995d;

    &:active {
      background-color: #48995d;
      color: white;
    }
  }
}

.tarjeta {
  height: auto;
  width: 170px;
  border-radius: 10px;
  background-color: transparent;

 

  .card_img {
    width: auto;
    height: 250px;
    img {
      width: 170px;
      height: 250px;
      border-radius: 10px 10px 0px 0px;
    }
    @include phone {
      img {
        width: 158px;
        height: 230px;
      }
    }
  }

  .card_desc {
    margin-left: 5px;
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-areas:
      "name  name"
      "date  point";
    h2 {
      margin-top: 5px;
      margin-bottom: 0px;
      color: white;
      font-size: 14px;
      grid-area: name;
    }
    p {
      color: #48995d;
      font-size: 12px;
      grid-area: date;
    }
    span {
      margin-top: 5px;
      grid-area: point;
      width: 28px;
      height: 20px;
      border: 1px solid black;
    }
  }
}
