<div class="hero">
  <section>
    <h2>Bienvenidos a Search Movie</h2>
    <h3>
      Miles de peliculas y series a disposicion de tus manos, ven y descubre.
    </h3>
  </section>
</div>
<div class="populares">
  <div class="opciones">
    <h3>Populares</h3>
    <ul id="opciones_list">
      <li><a>Television</a></li>
      <li><a>Cines</a></li>
    </ul>
  </div>
  <hr />
  <div class="populares_cards" id="populares_cards"></div>
</div>

<div class="tendencias">
  <div class="opciones">
    <h3>Tendencias</h3>
    <ul id="tendencias_list">
      <li><a>Television</a></li>
      <li><a>Cines</a></li>
    </ul>
  </div>
  <hr />
  <div class="tendencias_cards" id="tendencias_cards"></div>
</div>